# Yara Graph PoC
This is a quick analysis of the ecocrop_ecologies_clean.csv provided by XH.

## Import packages

In [129]:
import pandas as pd
import numpy as np

In [130]:
data_path = 'data/ecocrop_ecologies_clean.csv'
crop_id_df_path = 'data/crop_id.csv'

df = pd.read_csv(data_path)
crop_id_df = pd.read_csv(crop_id_df_path)

In [131]:
df.sample(5)

,crop_id,abiotic_susceptibility,abiotic_tolerance,altitude_absolute_max,altitude_absolute_min,altitude_optimal_max,altitude_optimal_min,climate_zone,introduction_risks,killing_temp_during_rest,...,soil_ph_optimal_max,soil_ph_optimal_min,soil_salinity_absolute,soil_salinity_optimal,soil_texture_absolute,soil_texture_optimal,temperature_required_absolute_min,temperature_required_absolute_max,temperature_required_optimal_min,temperature_required_optimal_max
850,148974,NaN,NaN,600.0,NaN,NaN,NaN,tropical wet & dry (Aw),NaN,NaN,...,6.0,5.0,low,low,"medium, light, wide, organic","medium, light",17.0,30.0,20.0,28.0
638,8526,NaN,NaN,1500.0,NaN,NaN,NaN,"tropical wet & dry (Aw), steppe or semiarid (B...",NaN,-9.0,...,7.5,5.5,NaN,NaN,"medium, light",medium,20.0,40.0,25.0,35.0
63,712,wind,NaN,1500.0,NaN,NaN,NaN,"tropical wet & dry (Aw), tropical wet (Ar), su...",NaN,NaN,...,7.0,5.5,medium,low,"wide, organic","medium, organic",12.0,40.0,23.0,32.0
1014,2078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,8753,NaN,NaN,NaN,NaN,NaN,NaN,"tropical wet & dry (Aw), tropical wet (Ar)",NaN,NaN,...,7.0,6.5,low,low,medium,medium,10.0,36.0,15.0,28.0

In [132]:
list(df)

['crop_id',
 'abiotic_susceptibility',
 'abiotic_tolerance',
 'altitude_absolute_max',
 'altitude_absolute_min',
 'altitude_optimal_max',
 'altitude_optimal_min',
 'climate_zone',
 'introduction_risks',
 'killing_temp_during_rest',
 'killing_temp_early_growth',
 'latitude_absolute_max',
 'latitude_absolute_min',
 'latitude_optimal_max',
 'latitude_optimal_min',
 'light_intensity_absolute_max',
 'light_intensity_absolute_min',
 'light_intensity_optimal_max',
 'light_intensity_optimal_min',
 'photoperiod',
 'rainfall_annual_absolute_max',
 'rainfall_annual_absolute_min',
 'rainfall_annual_optimal_max',
 'rainfall_annual_optimal_min',
 'soil_aluminium_toxicity_absolute',
 'soil_aluminium_toxicity_optimal',
 'soil_depth_absolute',
 'soil_depth_optimal',
 'soil_drainage_absolute',
 'soil_drainage_optimal',
 'soil_fertility_absolute',
 'soil_fertility_optimal',
 'soil_ph_absolute_max',
 'soil_ph_absolute_min',
 'soil_ph_optimal_max',
 'soil_ph_optimal_min',
 'soil_salinity_absolute',
 'soil_salinity_optimal',
 'soil_texture_absolute',
 'soil_texture_optimal',
 'temperature_required_absolute_min',
 'temperature_required_absolute_max',
 'temperature_required_optimal_min',
 'temperature_required_optimal_max']

In [133]:
data = df.set_index('crop_id').join(crop_id_df.set_index('crop_id'))

In [134]:
features = ['scientific_name','soil_ph_optimal_max', 'soil_ph_optimal_min', 'soil_ph_absolute_max', 
            'soil_ph_absolute_min', 
           'temperature_required_absolute_min', 'temperature_required_absolute_max', 'temperature_required_optimal_min',
            'temperature_required_optimal_max']

In [135]:
data.sample(1)

,abiotic_susceptibility,abiotic_tolerance,altitude_absolute_max,altitude_absolute_min,altitude_optimal_max,altitude_optimal_min,climate_zone,introduction_risks,killing_temp_during_rest,killing_temp_early_growth,...,soil_ph_optimal_min,soil_salinity_absolute,soil_salinity_optimal,soil_texture_absolute,soil_texture_optimal,temperature_required_absolute_min,temperature_required_absolute_max,temperature_required_optimal_min,temperature_required_optimal_max,scientific_name
crop_id,,,,,,,,,,,,,,,,,,,,,
10860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Viscum album

In [136]:
output = data[features]

In [137]:
output.head(1)

,scientific_name,soil_ph_optimal_max,soil_ph_optimal_min,soil_ph_absolute_max,soil_ph_absolute_min,temperature_required_absolute_min,temperature_required_absolute_max,temperature_required_optimal_min,temperature_required_optimal_max
crop_id,,,,,,,,,
289,Abelmoschus esculentus,7.0,5.5,8.7,4.5,12.0,35.0,20.0,30.0

In [138]:
output = output.dropna()

In [139]:
list(output)

['scientific_name',
 'soil_ph_optimal_max',
 'soil_ph_optimal_min',
 'soil_ph_absolute_max',
 'soil_ph_absolute_min',
 'temperature_required_absolute_min',
 'temperature_required_absolute_max',
 'temperature_required_optimal_min',
 'temperature_required_optimal_max']

In [140]:
output.to_csv('/home/ottermegazord/Downloads/data.csv')

In [141]:
features2 = ['abiotic_susceptibility']
output2 = data[features2]
output2 = output2.dropna()
output2.to_csv('/home/ottermegazord/Downloads/data2.csv')

In [142]:
output2.head()

        abiotic_susceptibility
crop_id
318                       wind
414                       wind
459          drought, flooding
482                       wind
483                   flooding

In [143]:
features3 = ['abiotic_tolerance']
output3 = data[features3]
output3 = output3.dropna()
output3.to_csv('/home/ottermegazord/Downloads/data3.csv')

In [144]:
output3.head()

                abiotic_tolerance
crop_id
431                      flooding
443      wind, coastal salt spray
483                          wind
508                       drought
517                          fire

In [145]:
features4 = ['altitude_absolute_max']
output4 = data[features4]
output4 = output4.dropna()
output4.to_csv('/home/ottermegazord/Downloads/data4.csv')

In [146]:
features5 = ['altitude_absolute_min']
output5 = data[features5]
output5 = output5.dropna()
output5.to_csv('/home/ottermegazord/Downloads/data5.csv')

In [147]:
output4.head()

         altitude_absolute_max
crop_id
289                     1000.0
290                     1200.0
318                      400.0
354                     1200.0
363                     1000.0

In [148]:
sentence = 'tropical wet & dry (Aw), tropical wet (Ar)'

In [149]:
sentence[sentence.find("(")+1:sentence.find(")")]

'Aw'

In [150]:
import re

conditions = re.findall('\(.*?\)',sentence)

for condition in conditions:
    print(condition)

(Aw)
(Ar)

In [151]:
des_path = 'data/ecocrop_descriptions_clean.csv'
crop_id_df_path = 'data/crop_id.csv'

des_df = pd.read_csv(des_path)
crop_id_df = pd.read_csv(crop_id_df_path)

In [152]:
data_des = des_df.set_index('crop_id').join(crop_id_df.set_index('crop_id'))

In [153]:
data_des.sample(5)

,category,habit,life_form,life_span,physiology,plant_attributes,scientific_name
crop_id,,,,,,,
606,"fruits & nuts, ornamentals/turf, forest/wood",erect,tree,perennial,single stem,grown on small scale,Canarium indicum
1971,"roots/tubers, medicinals & aromatic",erect,herb,annual,multi stem,grown on large scale,Solanum tuberosum
6579,"forage/pasture, vegetables, materials, ornamen...",erect,herb,annual,NaN,"grown on small scale, harvested from wild",Gynandropsis gynandra
689,"fruits & nuts, ornamentals/turf, medicinals & ...",erect,tree,perennial,"evergreen, single stem",grown on small scale,Chrysophyllum cainito
6625,"ornamentals/turf, medicinals & aromatic",climber/scrambler/scadent,sub-shrub,perennial,NaN,grown on large scale,Hedera helix

In [154]:
features6 = ['habit', 'life_form', 'physiology']
output6 = data_des[features6]
output6 = output6.dropna()
output6.to_csv('/home/ottermegazord/Downloads/data6.csv')

In [155]:
output6.sample(5)

         habit life_form                      physiology
crop_id
7177     erect     shrub           evergreen, multi stem
9374     erect     shrub           deciduous, multi stem
9942     erect      tree            evergreen, deciduous
8280     erect     grass  single stem, C4 photosynthesis
3989     erect      tree          deciduous, single stem

In [156]:
cul_path = 'data/ecocrop_cultivations_clean.csv'
crop_id_df_path = 'data/crop_id.csv'

cul_df = pd.read_csv(cul_path)
crop_id_df = pd.read_csv(crop_id_df_path)

data_cul = cul_df.set_index('crop_id').join(crop_id_df.set_index('crop_id'))

In [157]:
data_cul.sample(5)

,companion_species,crop_cycle_max,crop_cycle_min,cropping_system,labour_intensity,level_of_mechanization,product_system,subsystem,scientific_name
crop_id,,,,,,,,,
2348,NaN,330.0,210.0,NaN,NaN,NaN,"home garden, small scale (manual)",NaN,Moringa oleifera
10900,NaN,270.0,150.0,NaN,NaN,NaN,NaN,NaN,Vitis rotundifolia
1930,NaN,180.0,100.0,NaN,NaN,NaN,home garden,NaN,Sechium edule
14054,NaN,365.0,150.0,perennial crops,NaN,NaN,NaN,NaN,Eucalyptus globulus
7618,NaN,240.0,180.0,NaN,NaN,NaN,NaN,NaN,Marrubium vulgare

In [158]:
features7 = ['crop_cycle_max', 'crop_cycle_min']
output7 = data_cul[features7]
output7 = output7.dropna()
output7.to_csv('/home/ottermegazord/Downloads/data7.csv')

In [159]:
features8 = ['labour_intensity']
output8 = data_cul[features8]
output8 = output8.dropna()
output8.to_csv('/home/ottermegazord/Downloads/data8.csv')

In [160]:
alias_path = 'data/ecocrop_common_names.csv'
crop_id_df_path = 'data/crop_id.csv'

alias_df = pd.read_csv(alias_path)
crop_id_df = pd.read_csv(crop_id_df_path)

In [161]:
alias_df = alias_df.set_index('crop_id')

In [162]:
alias_df.head(5)

         common_names
crop_id
289        abelmoskus
289      america-neri
289        bakhua mun
289             bamia
289            bamija

In [163]:
len(alias_df)

12006

In [164]:
alias_df[alias_df['common_names'] == 'sugar apple']

        common_names
crop_id
412      sugar apple
414      sugar apple

In [165]:
output8 = alias_df.dropna()
output8.to_csv('/home/ottermegazord/Downloads/data8.csv')

In [172]:
# features9 = ['light_intensity_absolute_max',
#  'light_intensity_absolute_min',
#  'light_intensity_optimal_max',
#  'light_intensity_optimal_min',
# 'rainfall_annual_absolute_max',
#  'rainfall_annual_absolute_min',
#  'rainfall_annual_optimal_max',
#  'rainfall_annual_optimal_min',
# 'soil_aluminium_toxicity_absolute',
#  'soil_aluminium_toxicity_optimal',
#  'soil_depth_absolute',
#  'soil_depth_optimal',
#  'soil_drainage_absolute',
#  'soil_drainage_optimal',
# 'soil_salinity_absolute',
#  'soil_salinity_optimal',
#  'soil_texture_absolute',
#  'soil_texture_optimal']

features9 = ['light_intensity_absolute_max',
 'light_intensity_absolute_min',
 'light_intensity_optimal_max',
 'light_intensity_optimal_min']


output9 = data[features9]
output9 = output9.dropna()
output9.to_csv('/home/ottermegazord/Downloads/data9.csv')

In [173]:
output9.sample(5)

,light_intensity_absolute_max,light_intensity_absolute_min,light_intensity_optimal_max,light_intensity_optimal_min
crop_id,,,,
2508,very bright,light shade,clear skies,cloudy skies
3867,very bright,cloudy skies,clear skies,clear skies
3881,very bright,light shade,clear skies,clear skies
10308,very bright,light shade,very bright,cloudy skies
2340,very bright,clear skies,very bright,very bright